[Unit]
Description=Changes to a random wallpaper

[Service]
Type=oneshot
ExecStart=/bin/sh -c "feh --bg-fill --randomize $HOME/Pictures/wallpapers/"

[Install]
WantedBy=default.target
