@import url("reset.css");

* {
    font-family: Consolas, "Courier New", Courier, monospace;
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* General paddings for all modules */
.modules-left,
.modules-center,
.modules-right {
    padding: 0.5em 0.5em 0 0.5em;
}

.module {
    padding: 0 1em;
    border-radius: 0.3em;

    background: @theme_base_color;
    color: @theme_text_color;
}

#workspaces {
    padding: 0;
}

/* Module specific configurations */
#workspaces button {
    padding: 0 0.5em;

    border-radius: 0.3em;
}

#workspaces button:not(.active):hover {
    background: transparent;
}

#workspaces button.active {
    background: @theme_selected_bg_color;
}

#workspaces button:not(.active):not(.hosting-monitor) {
    color: gray;
}

#idle_inhibitor {
    padding: 0 0.7em;
}

#custom-power {
    font-size: 1.3em;
    padding: 0 0.7em;
}

#custom-power:hover {
    background: @theme_selected_bg_color;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}